*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}

/* -----------Header Nav--------- */

header{
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 8rem;
    gap:24px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    list-style-type: none;
    display: flex;
    gap:16px;
}

/* -----------Section 1--------- */
.section-one{
    background-color: #1f2937;
    display:flex;
    justify-content: space-between;
    padding:4rem 8rem;
    gap:24px;
}

.left{
    gap: 8px;
    flex:1;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex:1;
}

img {
    max-width: 100%;
    height: auto;
}

.hero-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin-bottom: 16px;
}

.hero-paragraph{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.hero-button{
    background-color:#3882F6;
    color: #E5E7EB;
    padding: 8px 16px;
    border-radius: 8px;
    border:solid #3882F6; 
}

/* -----------Section 2--------- */
.section-two{
    padding:4rem 8rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
}
.info {
    color: #1F2937;
    font-weight: 800;
    font-size: 36px;
    display:flex;
}
.sub-container{
    display:flex;
    gap:8px;
}

.sub-container div{
    display: flex;
    flex-direction: column;
}
.sub-text{
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    flex:1;
}

.sub-img{
    border-radius: 8px;
    border:solid #3882F6;
    border-width: 7px;
    flex:1;
}

/* -----------Section 3--------- */
.section-three{
    background-color: #E5E7EB;
    padding:4rem 8rem;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 16px;
}

.sign{
    font-weight: 800;
    display: flex;
    justify-content: flex-end;
}